{% extends "base_generic.html" %}
{% block title %}<title>Login | MyPyQuiz</title>{% endblock %}
{% block content %}
    <div id="login" class="text-center">
        <div class="login-header">
            <h2>Log in to MyPyQuiz</h2>
        </div>

        {% if form.errors %}
        <div class="login-error">
            <p> Your username and password didn't match. Please try again.</p>
        </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <div class="login-access-error">
                    <p>Your account doesn't have access to this page. To proceed,
                       please login with an account that has access.
                    </p>
                </div>
            {% endif %}
        {% endif %}

        <div class="login-form">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </div>
            <div>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </div>

            <div>
                <input type="submit" value="Login" class="btn btn-primary btn-lg">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
        </div>

        <div class="login-options">
            <p><a href="{% url 'quiz:password_reset' %}">Lost password?</a></p>
            <p>Don't have an account? <a href="{% url 'quiz:signup' %}">Click to sign up.</a></p>
        </div>
    </div>
{% endblock %}