{% extends "base_generic.html" %}
{% block title %}<title>{{ profile_user.get_username }} Results | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1><span class="glyphicon glyphicon-user"></span> {{ profile_user.get_username }} </h1>
    <a href="{% url 'quiz:profile' username=profile_user.get_username %}"><span class="glyphicon glyphicon-arrow-left"></span> Back to user's profile</a>
    {% if user.is_authenticated and user.id == profile_user.id or user.is_staff %}
        {% if results %}
        <div class="table-responsive">
            <table class="table table-striped" id="allUserResultsTable">
                <thead>
                    <tr class="header">
                        <th width="35%">Quiz</th>
                        <th width="25%">Score</th>
                        <th width="40%">Date</th>
                    </tr>
                </thead>
                {% for line in results %}
                <tr>
                    <td>{{ line.quiz }}</td>
                    <td>{{ line.score }}</td>
                    <td>{{ line.date_taken }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="nav-wrapper">
            <div id="select-page-size">
                <label for="items-on-page">Lines on page</label>
                <select name="items-on-page" id="items-on-page" onchange="paginateTableByItemsLimit('allUserResultsTable')">
                    <option>10</option>
                    <option selected="selected">20</option>
                    <option>40</option>
                </select>
            </div>
        </div>
        {% else %}
            <p>No results to show yet!</p>
        {% endif %}
    {% else %}
        <p>you can't see this user's info</p>
    {% endif %}
{% endblock %}
{% block script %}
<script>
var selectBox = document.getElementsByName("items-on-page")[0];
$('#allUserResultsTable').paginate({ limit: selectBox.options[selectBox.selectedIndex].value,
                                     optional: false,
                                     navigationWrapper: $("#nav-wrapper") });
</script>
{% endblock %}