{% extends "base_generic.html" %}
{% block title %}<title>All subjects | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1>All subjects</h1>
    {% if subjects %}
    <div class="table-responsive" id="all-subjects-table">
        <table class="table table-striped">
            {% for subject in subjects %}
                <tr>
                    <td width="75%">
                        <a href="{% url 'quiz:subj_quizzes' pk=subject.id %}">
                            {{ subject.subj_name }}
                        </a>
                    </td>
                    {% if user.is_authenticated and user.is_staff %}
                    <td  width="25%" class="delete-item" title="Delete subject">
                        <a href="{% url 'quiz:delete_subject' subject_id=subject.id %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>    
    {% else %}
        <p>No subjects available.</p>
    {% endif %}
    {% if user.is_authenticated and user.is_staff %}
    <div>
        <a href="{% url 'quiz:new_subject' %}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Create new subject</a>
    </div>
    {% endif %}
{% endblock %}