{% extends "base_generic.html" %}
{% block title %}<title>Quiz deleted | MyPyQuiz</title>{% endblock %}
{% block content %}
<h2>Quiz {{quiz_name}} deleted!</h2>
<p><a href="{% url 'quiz:all_quizzes' %}">Go back to all quizzes</a></p>
{% endblock %}