{% extends "base_generic.html" %}
{% block title %}<title>Subject deleted | MyPyQuiz</title>{% endblock %}
{% block content %}
<h2>Subject {{ subj_name }} deleted!</h2>
<p><a href="{% url 'quiz:all_subjects' %}">Go back to all subjects</a></p>
{% endblock %}