{% extends "base_generic.html" %}
{% block title %}<title>{{ quiz }} | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1>{{ quiz }}</h1>
    <div>Subject: {{ quiz.subject }}</div>
    <div>Difficulty: {{ quiz.difficulty }}</div>
    <div>Description: {{ quiz.description }}</div>
    <br>
    <p><a href="{% url 'quiz:start_quiz' subject_id=quiz.subject_id pk=quiz.id %}">
            <strong><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp; Start quiz!</strong>
        </a>
    </p>
    {% if user.is_authenticated and user.is_staff %}
    <p>
        <a href="{% url 'quiz:delete_quiz' quiz_id=quiz.id %}">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp; Delete quiz
        </a>
    </p>
    {% endif %}
{% endblock %}