{% for line in results %}
<tr>
    <td>{{ line.user }}</td>
    <td>{{ line.quiz }}</td>
    {% if user.is_staff or user.userrole.isSupervisor %}
    <td><a href="{% url 'quiz:result_details' result_id=line.id %}">{{ line.score }}</a></td>
    {% else %}
    <td>{{ line.score }}</td>
    {% endif %}
    <td>{{ line.calc_score_percent }}</td>
    <td>{{ line.date_taken|date:"d M Y, H:i" }}</td>
</tr>
{% endfor %}