<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest quizzes | MyPyQuiz</title>
</head>
<body>
{% extends "base_generic.html" %}

{% block content %}
    {% if latest_quizzes_list %}
    <h1><span class="glyphicon glyphicon-fire" style="color:#EC4E20"></span> Latest quizzes</h1>
        <ul>
            {% for quiz in latest_quizzes_list %}
                <li>
                    <a href="{% url 'quiz:quiz_detail' subject_id=quiz.subject_id pk=quiz.id %}">
                    {{ quiz.quiz_name }}
                    </a> - {{ quiz.pub_date }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No quizzes are available.</p>
    {% endif %}
{% endblock %}
</body>
</html>