{% extends "base_generic.html" %}
{% block content %}
    <div id="quiz-editor">
        <form action="{% url 'quiz:manage_questions' quiz_id=quiz.id %}" method="post" id="quiz-editor-form">
        {% csrf_token %}
        {{ quiz_form.management_form }}
        {{ quiz_form.as_p }}
        {{ questions_formset.management_form }}
        <div id="question_formset">
            {% for question_form in questions_formset.forms %}
                <div class="question-editor">
                {{ question_form.management_form }}                    
                {{ question_form.as_p }}
                {% if question_form.nested %}
                    {{ question_form.nested.management_form }}
                    {{ question_form.nested.non_form_errors }}
                    {% for nested_form in question_form.nested.forms %}
                        <div class="option-editor">
                            {{ nested_form.as_p }}
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor%}
        </div>
    </div>
    <!-- hidden empty form for adding new question -->
    <div id="empty_question_form" style="display:none">
        {{ questions_formset.empty_form.as_p }}
    </div>
    <div>
        <button type="button" data-quizid="{{ quiz.id }}" id="add_rb_question" class="btn btn-primary">Add radio button question</button>
    </div>
    <div>
        <button type="button" data-quizid="{{ quiz.id }}" id="add_cb_question" class="btn btn-primary">Add check box question</button>
    </div>
    <div>
        <button type="button" data-quizid="{{ quiz.id }}" id="add_txt_question" class="btn btn-primary">Add text answer question</button>
    </div>    
    <div>
        <input type="submit" value="Save changes" id="save_changes" class="btn btn-primary"/>
    </div>
    </form>
{% endblock %}
{% block script %}
 <script>
    $('#add_question').click(function(){
        var form_idx = $('#quiz-editor-form input#id_question_set-TOTAL_FORMS').val();
        $('div#question_formset').append('<div class="question-editor"></div>');
        var new_question = $('div#question_formset div.question-editor:last');
        var ques_fields = $('div#question_formset div.question-editor:first').clone(false).get(0);
        new_question.append($(ques_fields).children().slice(0,3));
        //$('#quiz-editor-form input#id_question_set-TOTAL_FORMS').val(parseInt(form_idx)+1);
    });  

    function createBaseQuestion() {
        var form_idx = $('#quiz-editor-form input#id_question_set-TOTAL_FORMS').val();
        var questionId = parseInt(form_idx)+1;
        $('div#question_formset').append('<div class="question-editor"></div>');
        var new_question = $('div#question_formset div.question-editor:last');
        $(new_question).append($('div.ques_text_div'));
        $('div#question_formset div.question-editor:last div.ques_text_div').
        append('<label for="question'+questionId+'_text_field">Enter question text: </label>');   

        // $('<textarea />', {
        //     'name': 'question'+questionId+'_text',
        //     id: 'question'+questionId+'_text_field',
        //     'rows': '3',
        //     'cols': '45',
        //     'onfocusout': 'setQuestionText()'
        // }
        // ).appendTo("div#question"+questionCount+" div");
        // $("div#new_ques_btns").insertBefore("#create_quiz_button");
        // $("input#number_of_questions").attr("value", questionCount.toString());
        // return questionId;
    }

    $('#add_rb_question').click(function(){
        var quizid = $(this).attr("data-quizid");
        var form_idx = $('#quiz-editor-form input#id_question_set-TOTAL_FORMS').val();
        var questionId = parseInt(form_idx)+1;
        console.log('ololo');
        $('div#question_formset').append('<div class="question-editor"></div>');
        var new_question = $('div#question_formset div.question-editor:last');
        var new_option;
        new_question.html('<p><label for="question'+questionId+'_text_field">Question text: </label>'+
        '<textarea name="question'+questionId+'_text" id="question'+questionId+'_text_field" rows="3" cols="45"></textarea></p>');
        for (var i=0; i<3; i++){
            new_question.append('<div class="option-editor"></div>');
            new_option = $('div#question_formset div.question-editor:last div.option-editor:last');
            $("<input />", {
            "type":"radio",
            "name":"question"+questionId+"_options",
            id:"rb_option"+i+"_question"+questionId,
            "value": i.toString()
            }).appendTo(new_option);
            $("<input />", {
                "type": "text",
                "name":"question"+questionId+"_option"+i+"text",
            }).appendTo(new_option);
        }

        // $('#quiz-editor-form input#id_question_set-TOTAL_FORMS').val(parseInt(form_idx)+1);
    });    

    //  $('#add_question').click(function(){
    //     var quizid = $(this).attr("data-quizid");
    //     $.get('/quiz/add_question/', {quiz_id: quizid}, function(data) {
    //         console.log(data);
    //         // $('#question_formset').html(data);
    //         $('#question_formset').append('<div class="question-editor"></div>');
    //         $('#question_formset div.question-editor:last').append(data);
    //     });
    // });
 </script>
{% endblock %}