{% extends "base_generic.html" %}
{% block title %}<title>Create new quiz | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1>Quiz editor</h1>
    <form action="{% url 'quiz:quiz_created' %}" method="post" id="quiz_form">        
        {% csrf_token %}
        <div class="quiz-editor-container">
            {{ quiz_form.management_form }}
            {{ quiz_form.as_p }}
        </div>
        <div id="question_formset"></div>
        <div> 
            <button type="button" id="add_rb_question" class="btn btn-primary question-btn" onclick="addQuestion('radio')">Add radio button question</button>
            <button type="button" id="add_cb_question" class="btn btn-primary question-btn" onclick="addQuestion('checkbox')">Add check box question</button>
            <button type="button" id="add_txt_question" class="btn btn-primary question-btn" onclick="addQuestion('text')">Add text answer question</button>
        </div>       
        <div>
            <input type="submit" value="Save changes" id="save_changes" class="btn btn-primary"/>
        </div>
        <input type="hidden" name="quiz_json" id="quiz_json" value=""/>
    </form>
{% endblock %}
{% block script %}
<script>
    var count = 0; 
    function addOption(questionType, buttonId, questionId) {        
        var questionId = questionId || parseInt(buttonId.toString().match(/\d+/)[0]);
        if (questionType=='radio' || questionType=='checkbox') {                       
            var optNum = $('#question'+questionId+'_optionsTable tbody tr:last td:first input').val() ?
                         parseInt($('#question'+questionId+'_optionsTable tbody tr:last td:first input').val())+1 : 0;
            $('#question'+questionId+'_optionsTable').append($('<tr class="option" />'));
            $('#question'+questionId+'_optionsTable tr:last').append($('<td />'));            
            $('#question'+questionId+'_optionsTable tr:last td:last').append($("<input />", {
                                                                        "type":questionType,
                                                                        "name":"question"+questionId+"_options",
                                                                        id: questionType+"_question"+questionId+"_option"+optNum,
                                                                        "value": optNum,
                                                                        "class": "correctFlag"
                                                                        }));
            $('#question'+questionId+'_optionsTable tr:last').append($('<td />'));
            $('#question'+questionId+'_optionsTable tr:last td:last').append($("<input />", {
                                                                        "type": "text",
                                                                        "name":"question"+questionId+"_option"+optNum+"_text",
                                                                        "class": "optionText"
                                                                        }));
            $('#question'+questionId+'_optionsTable tr:last').append($('<td />'));
            $('#question'+questionId+'_optionsTable tr:last td:last').append($("<button />", {
                                                                        id:"deleteBtn_question"+questionId+"_option"+optNum,
                                                                        "type":"button",
                                                                        text: "DEL",
                                                                        "class": "btn btn-primary"
                                                                        }));
            $("#deleteBtn_question"+questionId+"_option"+optNum).attr("onclick", "deleteOption(this.id)")
        }
        if (questionType=='text') {
            $('#question_editor_'+questionId).append($('<label />', {
                                                    'for': 'question'+questionId+'_option_text_field',
                                                    text: 'Answer text:'
                                                    }));
            $('#question_editor_'+questionId).append($('<input />', {
                                                    'type': 'text',
                                                    'name': 'question'+questionId+'_option_text',
                                                    id: 'question'+questionId+'_option_text_field',
                                                    'class': 'answerText'
                                                    }));
        }
    }

    function addQuestion(questionType) {
        $('div#question_formset').append($('<div />',{
                                            "class":"question-editor",
                                            id: "question_editor_"+count
                                            }));
        var new_question = $('div#question_formset div.question-editor:last');
        var new_option;
        new_question.html('<p><label for="question'+count+'_text_field">Question text:&nbsp;&nbsp;</label>'+
        '<textarea name="question'+count+'_text" id="question'+count+'_text_field" rows="3" cols="45" required></textarea></p>');
        $(new_question.find('textarea')['0']).attr('class', questionType+'Question');
        if (questionType=='radio' || questionType=='checkbox') {
            new_question.append($('<table class="table" id="question'+count+'_optionsTable" />'));
            $('#question'+count+'_optionsTable').append($('<thead />'));
            $('#question'+count+'_optionsTable thead').append($('<tr />', {"class": "header"}));
            $('#question'+count+'_optionsTable tr.header').append($('<th />', {
                                                                    text: "Correct?",
                                                                    "width": "10%"}));
            $('#question'+count+'_optionsTable tr.header').append($('<th />', {
                                                                    text: "Option text",
                                                                    "width": "75%"}));
            $('#question'+count+'_optionsTable tr.header').append($('<th />', {"width": "15%"}));            
            for (var i=0; i<3; i++){
                switch (questionType) {
                  case 'radio':
                    addOption('radio', count);
                    break;
                  case 'checkbox':
                    addOption('checkbox', count);
                    break;
                  default:
                    break;
                }
            }
            new_question.append($('<button />', {
                                "type": "button",
                                id:"question"+count+"_add_option_btn",
                                text:"Add option",
                                "class": "btn btn-primary question-editor-btn"
                                }));
            switch (questionType) {
                case 'radio':
                    $("#question"+count+"_add_option_btn").attr("onclick", "addOption('radio', this.id)");
                    break;
                case 'checkbox':
                    $("#question"+count+"_add_option_btn").attr("onclick", "addOption('checkbox', this.id)");
                    break;
                default:
                    break;
            }
        }
        if (questionType=='text') {
            addOption('text', questionId=count);
            new_question.append($("<br>"));
        }
        new_question.append($('<button />', {
                            'type': 'button',
                            id: 'question'+count+'_delete_ques_btn',
                            text: 'Delete question',
                            'onclick': 'deleteQuestion(this.id)',
                            "class": "btn btn-primary question-editor-btn"
                            }));
        count++;
    }

    function deleteOption(buttonId) {
        $('#'+buttonId).parent().parent().remove();
    }

    function deleteQuestion(buttonId) {
        var questionToDelete = $('#'+buttonId).parent();
        questionToDelete.remove();
    }

    function createJSON() {
        var myJson = {};
        var quizString = '';
        var count = 0;
        $('.question-editor').each(function() {
            var quesText = $(this).find('textarea').val();
            myJson["question"+count] = {}
            myJson["question"+count]["options"] = {}
            myJson["question"+count]["question_text"] = quesText;
            if ($(this).find('textarea')['0'].className == 'radioQuestion' || 
                $(this).find('textarea')['0'].className == 'checkboxQuestion') {
                myJson["question"+count]["question_type"] = $(this).find('textarea')['0'].className;
                $(this).find('tr.option').each(function() {
                    var option = $(this);
                    if (option.find('input.correctFlag')['0'].checked) {
                        myJson["question"+count]["options"][option.find('input.optionText')['0'].value.toString()] = true;
                    } else {
                        myJson["question"+count]["options"][option.find('input.optionText')['0'].value.toString()] = false;
                    }
                });
            }
            if ($(this).find('textarea')['0'].className == 'textQuestion') {
                myJson["question"+count]["question_type"] = 'textQuestion';
                myJson["question"+count]["options"][$(this).find('input.answerText')['0'].value.toString()] = true;
            }
            count++;
        });    
        console.log(myJson);
        return myJson;        
    }

    function validateJson(myJson) {
        for (var key in myJson) {
            if (myJson.hasOwnProperty(key)) {
                var curQuestion = myJson[key];
                if (curQuestion["question_text"]=="" || curQuestion["question_type"]=="") {
                    return false;
                } else {
                    var curOptions = curQuestion["options"];
                    var hasCorrect = false;
                    for (var opt in curOptions) {
                        if (curOptions.hasOwnProperty(opt)) {
                            if (opt=="") {
                                return false;
                            }
                            if (curOptions[opt] == true) {
                                hasCorrect = true;
                            }
                        }
                    }
                    if (!hasCorrect) {
                        return false;
                    }
                }
            }
        }
        return true;
    }


    $('#quiz_form').submit(function() {
        var myJson = createJSON();
        var isValid = validateJson(myJson);
        if (isValid) {
            $("input#quiz_json").val(JSON.stringify(myJson));
            return true;
        } else {
            event.preventDefault();
            alert('Please fill all fields correctly');
        }
    });
</script>
{% endblock %}