{% extends "base_generic.html" %}
{% block title %}<title>Create new subject | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1>Subject editor</h1>
    <form action="{% url 'quiz:subject_created' %}" method="post" id="subj_form">        
        {% csrf_token %}
        {{ subj_form.management_form }}
        {{ subj_form.as_p }}          
        <div>
            <input type="submit" value="Save changes" id="save_changes" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}