{% extends "base_generic.html" %}
{% block title %}<title>{{ profile_user.get_username }} | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1><span class="glyphicon glyphicon-user"></span> {{ profile_user.get_username }} </h1>
    {% if user.is_authenticated and user.id == profile_user.id or user.is_staff %}
        {% if has_results %}
            <h2>Latest results</h2>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr class="header">
                    <th width="35%">Quiz</th>
                    <th width="25%">Score</th>
                    <th width="40%">Date</th>
                </tr>
                </thead>
                {% for line in latest_user_results %}
                <tr>
                    <td>{{ line.quiz }}</td>
                    <td>{{ line.calc_score_percent }}</td>
                    <td>{{ line.date_taken }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <h2>Best attempts</h2>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr class="header">
                    <th width="35%">Quiz</th>
                    <th width="25%">Score</th>
                    <th width="40%">Date</th>
                </tr>
                </thead>
                {% for line in best_user_results %}
                <tr>
                    <td>{{ line.quiz }}</td>
                    <td>{{ line.calc_score_percent }}</td>
                    <td>{{ line.date_taken }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <hr>
            <a href="{% url 'quiz:all_user_results' user_id=profile_user.id %}">Show all results</a>
        {% else %}
            <p>No results to show yet!</p>
        {% endif %}
    {% else %}
        <p>you can't see this user's info</p>
    {% endif %}
{% endblock %}