{% extends "base_generic.html" %}
{% block title %}<title>Quiz created | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h2>Quiz {{ quiz_name }} successfully created!</h2>
    <p><a href="{% url 'quiz:all_quizzes' %}">Go back to all quizzes</a></p>
{% endblock %}