{% extends "base_generic.html" %}
{% block title %}<title> Answers details | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1>{{ answers.user }}'s results for {{ answers.quiz }}</h1>
    <h2>Total score: {{ answers.score }}</h2>
    <p>Quiz taken on {{ answers.date_taken }}</p>
    <div class="table-responsive">
        <table class="table table-striped" id="usersAnswersTable">
            <thead>
                <tr class="header">
                    <th width="60%">Question</th>
                    <th width="30%">Answer</th>
                    <th width="10%">Correct?</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}
{% block script %}
<script>
	var answers = {{ answers.answers|safe }};
	console.log(answers);
	var count = 0;
	for (var key in answers) {
	    if (answers.hasOwnProperty(key)) {
	        var question = key;
	        var q_answers = answers[key];
	        sel_options_number = Object.keys(q_answers).length;
	        $("table#usersAnswersTable").append("<tr><td class='vertical-center'>"+question+"</td></tr>");
	        $("table#usersAnswersTable tr:last td:last").attr("rowspan", sel_options_number);
	        count = 0;
	        for (var answ in q_answers) {
	        	if (q_answers.hasOwnProperty(answ)) {
	        		if (count != 0) $("table#usersAnswersTable").append("<tr></tr>");
	        		$("table#usersAnswersTable tr:last").append("<td>"+answ+"</td>");
	        		if (q_answers[answ]==true) {
	        			$("table#usersAnswersTable tr:last").append("<td class='correct-icon'><span class='glyphicon glyphicon-ok'></span></td>");
	        		}
	        		if (q_answers[answ]==false) {
	        			$("table#usersAnswersTable tr:last").append("<td class='incorrect-icon'><span class='glyphicon glyphicon-remove'></span></td>");
	        		}
	        		count++;
	        	}
	        }
    }
}
</script>
{% endblock %}
