{% extends "base_generic.html" %}
{% block title %}<title> Results | MyPyQuiz</title>{% endblock %}
{% block content %}
    <div class="results_content">
        <h1> Results</h1>
        <div class="results-filter">
        <label for="subj_select">Subjects:</label>
            <select id="subj_select" onchange="getTableData(this.id)">
                <option selected value> All </option>
                {% for subj in all_subjects %}
                    <option value="{{ subj.id }}">{{ subj.subj_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="results-filter">
        <label for="quiz_select">Quizzes:</label>
            <select id="quiz_select" onchange="getTableData(this.id)">
                <option selected value> All </option>
                {% for quiz in all_quizzes %}
                    <option value="{{ quiz.id }}">{{ quiz.quiz_name }}</option>
                {% endfor %}
            </select>        
        </div>
        <div class="results-filter">
        <label for="user_select">Users:</label>
            <select id="user_select" onchange="getTableData(this.id)">
                <option selected value> All </option>
                {% for cur_user in all_users %}
                    <option value="{{ cur_user.id }}">{{ cur_user.get_username }}</option>
                {% endfor %}
            </select>        
        </div>
        <button type="button" id="clear_filters" class="btn btn-primary" onclick="getTableData(this.id)">Clear filter</button>
        {% if results_set %}
            <div class="table-responsive">
                <table class="table table-striped" id="allUserResultsTable">
                    <thead>
                        <tr class="header">
                            <th width="20%">User</th>
                            <th width="25%">Quiz</th>
                            <th width="15%">Score</th>
                            <th width="15%">% score</th>
                            <th width="25%">Date</th>
                        </tr>
                    </thead>
                    <tbody id="result_table">
                    {% for line in results_set %}
                    <tr>
                        <td>{{ line.user }}</td>
                        <td>{{ line.quiz }}</td>
                        {% if user.is_staff or user.userrole.isSupervisor %}
                        <td><a href="{% url 'quiz:result_details' result_id=line.id %}">{{ line.score }}</a></td>
                        {% else %}
                        <td>{{ line.score }}</td>
                        {% endif %}
                        <td>{{ line.calc_score_percent }}</td>
                        <td>{{ line.date_taken|date:"d M Y, H:i" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>    
        {% else %}
            <p>No results to show yet!</p>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
<script>
function getTableData(filterId) {
    var filter = document.getElementById(filterId);
    if (filter.id != 'clear_filters') {
        var selectedOption = filter.options[filter.selectedIndex].value;
        var url = '';
        switch (filter.id) {
            case 'subj_select':
                url = selectedOption ?
                      "{% url 'quiz:ajax_results_by_subj' subject_id=100500 %}".replace (100500, selectedOption) :
                      "{% url 'quiz:ajax_all_results' %}";
                break;
            case 'quiz_select':
                url = selectedOption ?
                      "{% url 'quiz:ajax_results_by_quiz' quiz_id=100500 %}".replace (100500, selectedOption) :
                      "{% url 'quiz:ajax_all_results' %}";
                break;
            case 'user_select':
                url = selectedOption ? 
                      "{% url 'quiz:ajax_results_by_user' user_id=100500 %}".replace (100500, selectedOption) :
                      "{% url 'quiz:ajax_all_results' %}";
                break;
            default:
                break;
        }
        var otherFilters = $('.results-filter select[id!='+filterId+']');
        for (var i=0; i<otherFilters.length; i++) {
            var otherFilter = otherFilters[i];
            otherFilter.selectedIndex = 0;
        }
        $( "#result_table" ).load( url );
    }
    else {
        var otherFilters = $('.results-filter select');
        for (var i=0; i<otherFilters.length; i++) {
            var otherFilter = otherFilters[i];
            otherFilter.selectedIndex = 0;
        }
        $( "#result_table" ).load("{% url 'quiz:ajax_all_results' %}");
    }
}
var selectBox = document.getElementsByName("items-on-page")[0];
</script>
{% endblock %}