{% extends "base_generic.html" %}
{% block title %}<title>Sign Up | MyPyQuiz</title>{% endblock %}
{% block content %}
    <div id="signup" class="text-center">
	    <h2>Sign up</h2>
	    <div class="signup-form">
		    <form method="post">
		        {% csrf_token %}
		            {{ form.as_p }}
		        <button type="submit" class="btn btn-primary btn-lg">
                    Sign up
                </button>
		    </form>
		</div>
    </div>
{% endblock %}