{% extends "base_generic.html" %}
{% block title %}<title>{{ quiz }} - Take quiz | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1> {{ quiz.quiz_name}} </h1>
    <hr>

    <form action="{% url 'quiz:submit' quiz_id=quiz.id %}" method="post" id="quiz_form">
    {% csrf_token %}

    <ol>
        {% for question in quiz.question_set.all %}
        <li>
        <div class="question-container">
            {{ question.question_text }}<br>
            {% for option in question.option_set.all %}
                {% if question.question_type == 'RB' %}
                    <div class="option-container">
                        <input type="radio" name="question{{ question.id }}" id="rb_option{{ forloop.counter }}"
                        value="{{ option.id }}"/>
                        <label for="rb_option{{ forloop.counter }}">{{ option.option_text }}</label><br>
                    </div>
                {% endif %}
                {% if question.question_type == 'CB' %}
                    <div class="option-container">                
                        <input type="checkbox" name="question{{ question.id }}" id="cb_option{{ forloop.counter }}"
                        value="{{ option.id }}">
                        <label for="cb_option{{ forloop.counter }}">{{ option.option_text }}</label><br>
                    </div>
                {% endif %}
                {% if question.question_type == 'TXT' %}
                    <input type="text" name="question{{ question.id }}" id="txt_option{{ forloop.counter }}"
                    value="" class="text-option-container">
                    <br>
                {% endif %}
            {% endfor %}
            <br>
        </div>
        </li>
    {% endfor %}
    </ol>
    <div class="submit-quiz-btn-container">
        <input type="submit" class="btn-lg btn-primary" value="Submit answers" />
    </div>
    </form>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function checkFields() {
        var questions = $('form#quiz_form li');
        for (var i=0, len = questions.length; i<len; i++) {
            var question = questions[i];
            var inputs = $(question).children('input');
            if (inputs[0].type == 'text') {
                if (!inputs[0].value) return false;
            }
            else {
                var hasChecked = false;
                for (var j=0, inp_len = inputs.length; j<inp_len; j++) {
                    if (inputs[j].checked) hasChecked = true;
                }
                if (!hasChecked) return false;
            }
        }
        return true;
    }

    $('#quiz_form').submit(function() {
        var isValid = checkFields();
        if (isValid) {
            return true;
        } else {
            event.preventDefault();
            alert('Please fill all fields correctly');
        }
    });
</script>
{% endblock %}