{% extends "base_generic.html" %}
{% block title %}<title>Quizzes by subject | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h1> All quizzes on {{ subject }}</h1>
    {% if quizzes %}
        <div class="table-responsive" id="subj-quizzes-table">
        <table class="table table-striped">
            {% for quiz in quizzes %}
                <tr>
                    <td>
                        <a href="{% url 'quiz:quiz_detail' subject_id=quiz.subject_id pk=quiz.id %}">
                            {{ quiz.quiz_name }}
                        </a>
                    </td>
                    <td class="start-quiz">
                        <a href="{% url 'quiz:start_quiz' subject_id=quiz.subject_id pk=quiz.id %}" title="Start quiz">
                            <span class="glyphicon glyphicon-check"></span>
                        </a>
                    </td>
                    {% if user.is_authenticated and user.is_staff %}
                    <td class="delete-item">
                        <a href="{% url 'quiz:delete_quiz' quiz_id=quiz.id %}" title="Delete quiz">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                    {% endif %}
                </tr>        
            {% endfor %}
        </table>
        </div>
    {% else %}
        <p>No quizzes available.</p>
    {% endif %}
{% endblock %}