{% extends "base_generic.html" %}
{% block title %}<title>Subject created | MyPyQuiz</title>{% endblock %}
{% block content %}
    <h2>Subject {{ subj_name }} successfully created!</h2>
    <p><a href="{% url 'quiz:all_subjects' %}">Go back to all subjects</a></p>
{% endblock %}