{% extends "base_generic.html" %}
{% block title %}<title>{{ result.quiz }} - Answers submitted | MyPyQuiz</title>{% endblock %}
{% block content %}
    <div>
        <p>You submitted your answers to {{ result.quiz }} quiz.</p>
        <p>You result is {{ result.score }} - {{ result.calc_score_percent }} of maximum score.</p>
        <ol>
        {% for question, answer in user_answers.items %}
            
            <li>
            <div class="question-container">                
            {{ question.question_text }}<br>
            {% if question.question_type == 'RB' %}
                {% if answer.correct_option %}
                    <div class="correct-answer">
                        <p> {{ answer.option_text }} </p>
                        {% if answer.explanation %}
                            <p class="remark"> {{ answer.explanation }} </p>
                        {% endif %}
                    </div>
                {% else %}
                    <p class="remark">Your choice</p>
                        <div class="wrong-answer">
                            <p> {{ answer.option_text }} </p>
                                {% if answer.explanation %}
                                    <p class="remark"> {{ answer.explanation }} </p>
                                {% endif %}
                        </div>
                    {% with question.get_correct_option as right_answer %}
                        <p class="remark">Right answer:</p>
                        <div class="correct-answer">
                            <p> {{ right_answer.option_text }} </p>
                                {% if right_answer.explanation %}
                                    <p class="remark"> {{ right_answer.explanation }} </p>
                                {% endif %}
                        </div>
                    {% endwith %}
                {% endif %}
            {% else %}
                {% if question.question_type == 'CB' %}
                    {% for option in question.option_set.all %}
                        {% if option in answer or option.correct_option %}
                            {% if option.correct_option %}
                                <div class="correct-answer">
                                    <p> {{ option.option_text }} </p>
                                    {% if option.explanation %}
                                        <p class="remark"> {{ option.explanation }} </p>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="wrong-answer">
                                    <p> {{ option.option_text }} </p>
                                    {% if option.explanation %}
                                        <p class="remark"> {{ option.explanation }} </p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if question.question_type == 'TXT' %}
                        {% if answer.1 == True %}
                            <div class="correct-answer">
                                <p> {{ answer.0 }} </p>
                                {% if answer.2.explanation %}
                                    <p class="remark"> {{ answer.2.explanation }} </p>
                                {% endif %}
                            </div>
                        {% else %}
                            <p class="remark">Your choice</p>
                            <div class="wrong-answer">
                                <p> {{ answer.0 }} </p>
                            </div>
                            <p class="remark">Right answer:</p>
                            <div class="correct-answer">
                                <p> {{ answer.2.option_text }} </p>
                                {% if answer.2.explanation %}
                                    <p class="remark"> {{ answer.2.explanation }} </p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
            </li>
        {% endfor %}
        </ol>
    </div>
{% endblock %}
</body>
</html>