<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>MyPyQuiz</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz/css/styles.css' %}">
</head>
<body>
        <!-- Sidebar Holder -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
            {% block sidebar %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'quiz:index' %}" class="navbar-brand">MyPyQuiz</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'quiz:index' %}">Home</a> </li>
                        <li><a href="{% url 'quiz:all_subjects' %}">All subjects</a> </li>
                        <li><a href="{% url 'quiz:all_quizzes' %}">All quizzes</a> </li>
                        <li><a href="{% url 'quiz:all_results' %}">View results</a> </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'quiz:profile' username=user.get_username %}">
                                <span class="glyphicon glyphicon-user"></span>
                            {{ user.get_username }} Profile</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>
                            Logout</a> </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
                        <li><a href="{% url 'quiz:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign up</a> </li>
                    </ul>
                    {% endif %}
                </div>
            {% endblock %}
            </div>
        </nav>
        <!-- Page Content Holder -->
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
    {% block js %}
        <script src="{% static 'quiz/js/jquery-paginate.js' %}"></script>
        <script src="{% static 'quiz/js/myjs.js' %}"></script>
        <script src="{% static 'quiz/js/jquery.formset.js' %}"></script>
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>
</html>