@import "https://fonts.googleapis.com/css?family=Baloo";

.wrapper {
  display: flex;
  align-items: stretch;
  background-color: #F4FAFF;    
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar-inverse {
  background-color: #131B23;
}

.navbar-inverse a.navbar-brand {
  color: #5CC8FF;
  font-family: "Baloo";
  font-size: 30px;
}

.navbar-inverse ul.navbar-nav li a {
  font-size: 1.1em;    
  display: block;
  color: #F4FAFF;
}

.navbar-inverse ul.navbar-nav li a:hover {
  background-color: #F4FAFF;
  color: #131B23;
}

@media (max-width: 820px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidenav {
  height: 100%; 
  width: 165px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #131B23;
  overflow-x: hidden; 
  padding-top: 20px;
  margin-top: 50px;
  overflow-y: auto;
}

.sidenav a, .sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 0.9em;
  color: #F4FAFF;
  display: block;
}

.sidenav p {
  color: #5CC8FF;
}

.sidenav a:hover {
  color: #EC4E20;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  margin-top: 50px;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  font-size: 18px;
  width: 70%;
}

div#content h1 {
  margin-top: 10px;
}

.question-container, .quiz-editor-container {
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.option-container {
  padding: 10px 5px 5px 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;  
}

.text-option-container {
  margin: 10px 5px 5px 10px;  
  width: 60%;
}

.submit-quiz-btn-container {
  text-align: center;
  margin-top: 30px;
}

.correct-answer, .wrong-answer {
  padding: 10px;
  margin: 5px;
  border: 3px solid green;
  border-radius: 20px;
  background-color: white;  
}

.wrong-answer {
  border: 3px solid red;
}

.remark {
  margin-top: 3px;
  font-size: 85%;
  font-style: italic;
} 

table {
  width: 80%;
}

#content h1 {
  color: #5CC8FF;
}

#content h2 {
  font-size: 1.5em;
}

.quiz_desc_div *, .ques_text_div * {
  vertical-align: middle;
}

label[for="id_quiz_description"], #id_quiz_description {
  vertical-align: middle;
}

.question-editor, .option-editor {
  padding: 20px 10px 10px 20px;
  margin: 10px;
  border-radius: 20px;
}

.question-editor {
  margin: 20px;
  background-color: #e6e6e6;
}

.question-editor-btn {
  margin: 10px;
}

.option-editor {
  background-color: #F4FAFF;
}

.question-btn, .results-filter, #clear_filters {
  display: inline;
  margin: 10px 10px 10px 0px;
}

div.results-filter {
  margin: 10px;  
}

button#clear_filters {
  display: inline-block;
  margin: 10px;
}

.table#usersAnswersTable>tbody>tr>td.vertical-center {
  vertical-align: middle;
}

.table#usersAnswersTable td.correct-icon, .table#usersAnswersTable td.incorrect-icon {
  text-align: center;
  color: green;
}

.table#usersAnswersTable td.incorrect-icon {
  color: red;
}

td.start-quiz a, td.delete-item a {
  color: black;
}

div#all-quizzes-table, div#subj-quizzes-table, div#all-subjects-table {
  margin-top: 30px;
}

div.results_content div.table-responsive {
  clear: both;
}

table#allUserResultsTable thead {
  background-color: #5CC8FF;
  color: white;
}

/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */

#login div, #signup div {
  margin: auto;
  padding: 20px;
}

#login div.login-error, #login div.login-form, #signup div.signup-form {
  border: 1px solid #EC4E20;
  border-radius: 20px;
}

#login div.login-error {
  width: 40%;
  color: #EC4E20;
  margin-bottom: 10px;
}

#login div.login-error p, #login div.login-options p {
  font-size: 80%;
}

#login div.login-error p {
  margin-bottom: 0;
}

#login div.login-form, #signup div.signup-form {
  width: 460px;
  border-color: #C7C8C7;
}

#login div.login-options a:hover {
  color: #EC4E20;
}

@media only screen and (min-width : 320px) and (max-width: 768px) {
  #login div.login-form {
    width: 100%;
  }   

  #login div.login-error {
    width: 80%;
  }

  div input[type="text"], div input[type="password"] {
    width: 100%;
  }
}

 /* ---------------------------------------------------
+    SIGNUP STYLE
+----------------------------------------------------- */

#signup .helptext {
  font-size: 0.8em;
  display: block;
  padding-top: 5px;
}

div.signup-form ul {
  font-size: 0.8em;
}

div.signup-form ul.errorlist {
  color: red;
  list-style-type: none;
  padding-left: 0px;
}

div.signup-form input#id_username, div.signup-form input#id_password1{
  display: block;
  margin: auto;
}

/* ---------------------------------------------------
    ADMIN MENU STYLE
----------------------------------------------------- */

#userSearchInput, #quizSearchInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/* ---------------------------------------------------
    TABLE PAGINATION STYLE
----------------------------------------------------- */

.page-navigation {
  display: inline;
  float: right;    
}

.page-navigation a {
  margin: 0 2px;
  display: inline-block;
  padding: 3px 10px;
  color: #ffffff;
  background-color: #5CC8FF;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.page-navigation a[data-selected] {
  background-color: #30a3dd;
}

#select-page-size {
  display: inline;
  float: left;
}

/* ---------------------------------------------------
    MODALS STYLE
----------------------------------------------------- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}